/* The code below centers the text of all h1's on the page. */
h1 {
  text-align: center;
  border: 5px black solid;
  background-color: #000000;
  padding: 10px;
  margin: 5px;
  color: white;
  font-family: "Stencil Std", fantasy;
  font-size: 40px;
  border-radius: 25px;
}

/* The code below centers all images on the page and gives them a width of 400px. */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  border-radius: 25px;
}

/* The code below centers the text of all h2's on the page. */
h2 {
  text-align: center;
  font-family: "Copperplate", fantasy;
}

/* The code below aligns all the sections horizontally on the bottom. */
.section-container {
  display: flex;
  justify-content: space-between;
}

/* The code below a solid black border to section and puts space between them (the margin). */
.section {
  border: 7px black solid;
  margin: 5px;
  border-radius: 25px;
  flex-basis: 100%
}

body {
  background-color: #d2b48e;
}

.section {
  font-family: "Garamond", serif;
  font-size: 20px;
}

h3 {
  font-family: "Courier New", monospace;
  color: white;
}

.section-image {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

